
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*  font-family: "Work Sans", serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", serif;
}

/* ---------------------banner-section-style-start */
.banner-container{
    width: 120rem;
    height: 83rem;
    background-color:#d8cdc2;
}
/* --------------------nav-start */
.nav-container{
    width:120rem;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 6rem;
}
ul li{
 list-style: none;
}
li a{
    text-decoration: none;
    font-size:1.1rem;
    font-weight:400;
    color:#131313;
}
.logo h1{
    font-size:2.8rem;
    font-weight: bold;
    color:#131313;
}

/* --------------------nav----end*/
/* ------------------------------------banner-heading-start */
.banner-heading{
    width:54rem;
    height:14rem;
    margin: 8rem auto 1rem;
    text-align: center;
}
.banner-heading h1{
font-size:4rem;
font-weight:bold;
color:#131313;
margin-bottom: 1rem;
}
.banner-heading p{
    font-size:1rem;
    font-weight:400;
    color:#727272;
    margin-bottom: 1rem;
}
.banner-btn button{
    width:11.25rem;
    height:4rem;
    background-color:#FF900E;
    color:#FFFFFF;
    border:none;
    border-radius:10px; 
    margin-bottom: 1rem;
}
.banner-img{
    width:90rem;
    height:43.75rem;
    margin:8rem auto 1rem;
    background-image: url('../images/banner.png');
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* --------------------------------------banner-heading-end */

/*-------------------------------------- img-container-start */
.img-container{
    width:90rem;
    height:43.75rem;
    margin: 5rem auto 3rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;   
}
.img-left-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.right-heading-container h1{
font-size: 2.8rem;
margin-bottom: 1rem;
font-weight: bold;
}
.right-heading-container h1 .quick{
  color:#727272;
  font-weight: 300;
}
.right-heading-container h1 .features{
    color:#FF900E;
}

.right-heading-container p{
font-size:1rem;
font-weight: 400;
color: #727272;
margin-bottom: 1rem;
}
.right-container-btn button{
    width:8.25rem;
    height:3rem;
    background-color:#FF900E;
    color:#FFFFFF;
    border:none;
    border-radius:10px; 
    margin-top: .5rem; 
}
/*-------------------------------------- img-container-start */

/* ----------------------------------year-start */
.year-container{
    width:90rem;
    height:66rem;
    margin: 2rem auto 2rem;
    display: flex;
    justify-content: space-between;
}
.left-year-container .border-div{
    width:29.25rem;
    height:6.6rem;
    border-left: 4px solid #FF900E;
    margin-bottom: 1rem;
}
.border-div h1{
    font-size:2.8rem;
    font-weight: bold;
    color:#131313;
    padding-left: 1rem;
}
.left-year-container p{
    font-size:1rem;
    font-weight:400;
    color:#727272;
    margin-bottom: 1rem;
}
.card-container{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    gap: 2rem;
}
.card-container .card{
    width:36.6rem;
    height:10.6rem;
    box-shadow: 5px 5px 5px rgb(238, 236, 236);
    padding: 2rem;
}
.card h1{
    font-size:1.25rem;
    font-weight:600;
    color: #131313; 
    margin-bottom: 1rem; 
}

.year-btn button {
    width: 21.3rem;
    height: 12.5rem;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 6px;
    position: relative;
    bottom: 8rem;
    left: -5rem;
}
.year-btn button h1{
    font-size:3rem;
    font-weight:bold;
    padding: .5rem;
}
 .ex{
    font-size:1.5rem;
    font-weight:400;
    padding: .5rem;
}   
}

/* ----------------------------------year---end */


/* ---------------------banner-section-style---end */